
/*Обнуление*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    display: inline-block;
    line-height: 1;
    font-size: 16px;
    list-style: none;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
    display: flex;
    justify-content: center;
    background: black url("/img/fon17osnova.jpg") 50% 0/ 1850px no-repeat;

}

.wrapper{
    margin-top: 21px;
    width: 1068px;
    height: 100%;
}
.witcher_logo{
    width: 650px;
    position: absolute;
    margin-top: 35px;
    left: 145px;
}
/*-------------------------------------------------------------*/
header{

    margin-top: 219px;
    width: 100%;
    height: 69px;
    background-color: #2d2d2d;
}
.header_content{
    width: 100%;
    height: 100%;
    display: flex;
}
.menu_item{
    padding-top: 23px;
    text-align: center;
    z-index: 100;
    color: white;
    font-weight: 700;
    font-size: 18px;
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
}
.menu_item:hover{
    cursor: pointer;
    background-color: #831C1C;
}
.spase_item{
    width: 50px;
}
.header_content .menu_item:nth-child(1){
    width: 120px;
}
.header_content .menu_item:nth-child(2){
    width: 177px;
}
.header_content .menu_item:nth-child(3){
    width: 125px;
}
.header_content .menu_item:nth-child(4){
    width: 100px;
}
.header_content .menu_item:nth-child(5){
    width: 133px;
}
.header_content .menu_item:nth-child(6){
    width: 104px;
}
.header_content .menu_item:nth-child(7){
    width: 120px;
}
.header_content .menu_item:nth-child(8){
    width: 95px;
}

/*------------------------------------------------------------------*/

.body_main{
    width: 100%;
    background-color: #2d2d2d;
    display: flex;
}
.main{
    width: 715px;
    height: 100%;
    background-color: #3d3d3d;
    padding: 15px;
}
.side{
    width: 353px;
    height: 100%;
    background-color: #313131;
    font-family: Arial, sans-serif;
}


.video_player{
    width: 680px;
    height: 410px;
    background-color: black;
}
.series_selection{
    margin: 17px 0 0 18.5px;
    width: 110.5px;
    height: 36.5px;
    border-radius: 5px;
    background-color: #292929;
    position: absolute;
}
.selection_expand{
    width: 27px;
    position: absolute;
    right: 5px;
    top: 5px;
}
.series_number{
    margin: 12px 0 0 12px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    font-family: Arial, sans-serif;
}
.hidden_panel{
    position: absolute;
    margin: 8px 0 0 0;
    border-top:1px black solid ;
    width: 110.5px;
    height: 0px;
    border-radius: 5px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: #171717;
    overflow-x: auto;
    cursor: pointer;
    transition-duration: 0.3s;
}
.series_selection:hover>.hidden_panel{
    height: 211px;

}
.series_selection:hover {
    background-color: #545454;
}
.hidden_item{
    cursor: pointer;
    background-color: #292929;
    width: 100%;
    height: 33px;
    padding: 15px 0 0 11px;
}
.hidden_item:hover{
    background-color: #545454;
}
.hidden_panel::-webkit-scrollbar {
    width: 4px;
}
.hidden_panel::-webkit-scrollbar-track {
    background: #545454;
}
.hidden_panel::-webkit-scrollbar-thumb {
    background-color: #545454;
    border-radius: 20px;
    border: 3px solid white;
}

.video_line{
    position: absolute;
    width: 658px;
    height: 4px;
    margin-top: 352px;
    margin-left: 12px;
    background-color: #62686c;
    opacity: 0.7;
    transition-duration: 0.1s;
}
.video_line:hover{
    margin-top: 350px;
    height: 8px;
}

.player_menu{
    display: flex;
    position: relative;
    top: 362px;
    width: 680px;
    opacity: 0.6;
}

.play{
    margin: 4px 0 0 12px;
    width: 36px;
    height: 36px;
    cursor: pointer;
}
.volume{
    margin: 7px 0 0 14px;
    width: 26px;
    height: 30px;
}
.volume_block{
    width: 50px;
}
.volume_lines{
    display: block;
    position: relative;
    left: 46px;
    bottom: 18px;
    width: 0;
    height: 10px;
    overflow: hidden;

}

.volume_line1{
    position: absolute;
    width: 110px;
    height: 3px;
    background: #545454;
}
.volume_line2{
    position: relative;
    width: 75px;
    height: 3px;
    background: white;
}
.volume_block:hover .volume_lines{

    width: 110px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.volume_block:hover{
    width: 170px;
}

.time_counter{
    font-size: 12px;
    margin-left: 6px;
    margin-top:16px ;
    font-family: Arial, sans-serif;
    font-weight: 400;
    color: white;
}
.skip_previous{
    margin-left:12px ;
    margin-top: 11px;
    width: 20px;
    height: 21px;
    cursor: pointer;
}
.skip_next{
    margin-left:12px ;
    margin-top: 11px;
    width: 20px;
    height: 21px;
    cursor: pointer;
}
.setting_player{
    position: absolute;
    right: 0px;
    margin: 9px 57px 0 0;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.setting_player:hover{
    opacity: 0.8;
}
.fullscreen_player{
    position: absolute;
    right: 0px;
    margin: 5px 14px 0 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
}
.fullscreen_player:hover{
    opacity: 0.8;
}
/*--------------------------------------*/
.player_extra_menu{
    position: relative;
    display: flex;
    width: 680px;
    height: 47px;
    border: 1px #62686c solid;
    background-color: #292929;
}
.burger_series{
    margin-left:calc(50% - 64px);
    display: flex;
}
.burger{
    margin-top: 13px;
    width: 11px;
    height: 20px;
}
.burger_title{
    color: #bcbcbc;
    font-size: 15px;
    margin-left: 4px;
    margin-top:15px ;
    font-family: Arial, sans-serif;
    font-weight: 400;
    cursor: pointer;
}
.burger_title:hover{
    color: white;
}
.next_series{
    color: #bcbcbc;
    font-size: 15px;
    margin-left: 125px;
    margin-top:15px ;
    font-family: Arial, sans-serif;
    font-weight: 400;
    cursor: pointer;
}
.next_series:hover{
    color: white;
}

.video_title{
    margin-top: 18px;
    margin-left: 0px;
}
.number_episode{
    font-size: 26.6px;
    font-family: Arial, sans-serif;
    color: white;
    text-shadow: #0a0a0a 0 -8px 15px ;
}
.number_episode_en{
    margin-left: 2px;
    margin-top: 13px;
    font-size: 13px;
    font-family: Arial, sans-serif;
    color: #808487;
}
.line_partition{

    width: 645px;
    height: 2px;
    margin: 15px 0 15px 0;
    background-color: #454545;

}
.rating{
    display: flex;
    width: 680px;
    height: 63px;
}
.grade{
    width: 90px;
    font-family: Arial, sans-serif;
}
.grade .block_grade{
    color: white;
    font-size: 32px;
    text-align: center;
    padding-top: 6px;
    width: 67px;
    height: 44px;
    background-color: #5a5858;


}
.grade .number_votes{
    position: relative;
    color: #bdbdbc;
    font-size: 13px;
    text-align: center;
    margin:4px 8px 0 0;

}
.star_rating{
    margin-left: 15px;
    padding-top: 8px;
    position: relative;
    width: 190px;
    height: 30px;

}
.star{
    width: 13px;
}
.stars_gray{
    position: absolute;
}
.stars_yellow{
    position: absolute;
    opacity: 0;

}
.stars_yellow:hover{
    opacity: 1;
}

.rating .additional_functions{
    display: flex;
    margin: 9px 0 0 80px;
    width: 350px;
    height: 62px;
}
.additional_functions .facts{
    text-align: center;
    padding-top: 20px;
    width: 117px;
    height: 100%;
    font-size: 18px;
    font-family: Arial, sans-serif;
    color: #c6c6c6;
    background-color: #313131;
    border: #9F9F9F dotted 3px;
}
.additional_functions .feedback{
    text-align: center;
    padding-top: 20px;
    margin-left: 12px;
    width: 200px;
    height: 100%;
    font-size: 18px;
    font-family: Arial, sans-serif;
    color: #c6c6c6;
    background-color: #313131;
    border: #9F9F9F dotted 3px;
}
.additional_functions .facts:hover, .feedback:hover{
    background-color: #831C1C ;
    color: white;
}

.video_description{
    width: 100%;
    height: 260px;
    padding: 7px 0 5px 10px;
    margin-bottom: 30px;
}
.description_title{
    font-size: 24px;
    font-family: Arial, sans-serif;

    margin-bottom: 9px;
    color: #c6c6c6;
}
.description_text{
    width: 670px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    word-spacing: 8px;
    line-height: 19px;
    color: #c6c6c6;
}
/* -----------------details_series-------------------------------------------*/

.details_series_block{
    padding: 20px;
    position: relative;
    background-color: #494949;
    width: 680px;
    height: 115px;
    margin-bottom: 15px;
    border: #4f4f4f solid 1px;
}
.details_series_block .details_text{
    text-indent: 37px;
    word-spacing: 8px;
    line-height: 19px;
    color: #c5c5c5;
}
.details_series_block .logo{
    top: 10px;
    position: absolute;
}

/*------------------frames------------------------------------------*/
.frames_block{
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 15px 5px 15px 5px;
    width: 680px;
    height: 150px;
    border: #515151 solid 1px;
    margin-bottom: 15px;
}
.frames_title{
    position: absolute;
    top: -10px;
    left: 25px;
    background-color: #3D3D3D;
    color: #B1B3B6;
    width: 130px;
    text-align: center;
}
.frame{
    width: 200px;
    height: 120px;
}
.frame:hover{
    opacity: 0.7;
    transition-duration: 0.1s;
    cursor: pointer ;
}

/*-------block of facts from the series-------------------------------*/
.block_title{
    width: 680px;
    height: 50px;
    padding: 10px;
    border: #515151 solid 1px;
    color: #EEEEEE;
    font-size: 20px;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
    background-color: #292929;
}

.facts_series_block{
    height: 100px;
    border: #9F9F9F dotted 2px;

}
.facts_logo{
    width: 25px;
    margin-left: 5px;
    top: 100px;
}
/*--------series_cards_block--------------------------------------------*/

.series_cards_block{
    display: flex;
    align-content: start;
    flex-wrap: wrap;
    width: 680px;
    height: 630px;
    padding: 10px;
    margin-bottom: 25px;
}
.cart{
    margin: 0 0 14px 5px;
    width: 215px;
    height: 200px;
}
.series_image{
    width: 215px;
    height: 130px;
    border-radius: 3px;
}
.carts_number{
    margin-top: 6px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #b8b8b8;
}
.series_title{
    margin-top: 9px;
    font-size: 15px;
    padding: 4px;
    width: 140px;
    height: 25px;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #FDFCFC;
    background-color: #474747;
}
.cart:hover .series_image{
    transition-duration: 0.3s;
    filter: blur(3px);
}
.cart:hover .series_title{
    background-color: #831C1C;
}
.dotted_line{
    height: 10px;
    border-top: 3px dotted #2a2a2a;
    background-color: rgba(0, 0, 0, 0);
}

/*------comments_block-----------------------------*/

.lists_comments{
    margin-top: 133px;
    width: 680px;
    display: inline-block;
}
.title_section{
    font-size: 21px;
    font-family: Arial, sans-serif;
    color: #FDFCFC;
}
.comment{
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 22px ;
    width: 645px;
    min-height:  100px;
    background-color: #474747;
}
.comment_line{
    margin: 5px 0 0 15px;
    width: 615px;
    height: 1px;
    background-color: #2a2a2a;
}
.comment_information{
    margin: 20px 0 0 20px;
    font-family: Arial, sans-serif;
    display: flex;
}
.user_avatar{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.nickname{
    width: 110px;
    height: 25px;
    text-align: center;
    margin-right: 15px;
    padding: 4px;
    color: #f1f5f9;
    background-color: #303030;
}
.date_comment{
    color: #656868;
    width: 150px;
    height: 25px;
    text-align: center;
    padding: 4px;
    background-color: #303030;
}
.comment_text{
    width: 600px;
    height: auto;
    color: #94918e;
    padding: 15px 0 0 35px;
}
.comment_reply_button{
    width: 80px;
    height: 20px;
    margin: 15px;
    background-color: #575656;
    border: #626262 solid 1px ;
    color: #f1f5f9;
    font-size: 16px;

}
.button:hover{
    background-color: #94918E;
}
.button:active{
    background-color: #831C1C;

}
/*------------------add_comments----------------------------------*/
.add_comments{
    position: relative;
    width: 100%;
    display: inline-block;
    margin-top:50px ;
}
.title_add_comments{
    margin-bottom: 42px;
}
.input_block{
    width: 500px;
    display: flex;
}
.input{
    width: 191px;
    height: 32px;
    margin-right: 10px;
}
.input:hover{
    border-width: 3px;
    border-style: solid;
    border-color: rgb(187, 187, 187);
}
.input:active{
    border-radius: 5px;
    border: #2d2d2d double 4px;
}
.comment_attention{
    color: white;
    width: 300px;
    margin-top: 10px;
    font-size: 12px;
    font-family: Arial, sans-serif;
}
.input_block{
    margin-bottom: 11px;
}
.text_add_comment{
    width: 645px;
    height: 300px;
    margin: 20px 0 40px 0;
    padding: 10px;
}
.button_add_comment{
    width: 190px;
    height: 25px;
    font-size: 15px;
    font-family: Arial, sans-serif;
    position: absolute;
    right: 40px;
    bottom: 0;
}

/*-----------------footer----------------------*/
footer{
    display: flex;
    justify-content: space-around;
    height: 110px;
    background-color: #2d2d2d;
    padding-top: 40px;
    color: #7b7f7d;
    font-size: 18px;
}
.footer_line{
    height: 8px;
    background-color: #292929;
}
.footer_text{
    margin-left: 50px;
}
.footer_title{
    margin-right: 50px;
}

/*--------------side--------------------*/
.icon_block{
    margin: 20px 0 0 25px;

}
.icon{
    width: 98px;
    height: 32px;
    margin-right: 5px;
}
.icon:hover{
    opacity: 0.7;
    cursor: pointer;
}
.side_title_block{
    position: relative;
    margin-top: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 49px;
    color: white;
    font-size: 18px;
    background-color: #292929;
}
.side_title{
    margin:3px 0 0 30px;
}
.side_title_icon{
    position: absolute;
    right: 17px;
    width: 35px;
    height: 32px;

}
.series_information{

    margin: 11px 11px 30px 11px;
    color: #a5aba4;
    border:#525252 solid 1px;
    width: 321px;
    height: 27px;
    padding: 5px 0 0 42px;
    font-size: 14px;
}

/*-----------list_series----------------------*/

.list_series{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 155px;
    padding: 18px 33px 20px 33px;
}
.series_link{
    width: 90px;
    height: 35px;
    padding: 10px 15px;
    margin-right:5px;
    color: white;
    background-color: #474747;
}
.series_link:hover{
    cursor: pointer;
    background-color: #831C1C;
}
/*---------------------------*/
.list_season{
    display: flex;
    width: 100%;
    height: 275px;
    padding-top: 7px;
    padding-left: 15px;
}
.season_link{
    position: relative;
    padding: 7px 9px;
    width: 147px;
    height: 247px;
    background-color: #494949;
    margin-right: 14px;
}
.season_image{
    width: 129px;
    height: 200px;
}
.season_name{
    color: white;
    margin-top: 10px;
    text-align: center;
}
.play_season{
    width: 80px;
    top: 70px;
    left: 30px;
    position: absolute;
    opacity: 0;
}
.view_text{
    color: white;
    bottom: 90px;
    left: 5px;
    font-size: 17px;
    position: absolute;
    opacity: 0;
}

.season_link:hover .season_image{
    transition-duration: 0.5s;
    filter: blur(3px);
    cursor: pointer;
}
.season_link:hover .play_season{
    transition-duration: 0.6s;
    cursor: pointer;
    opacity: 1;
}
.season_link:hover .view_text{
    transition-duration: 0.6s;
    opacity: 1;
}
/*--------------------------*/
.list_actors{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 350px;
    padding: 15px 20px;
}
.actor_block{
position: relative;
}
.actor_image{
    width: 90px;
}
.actor_name{
    position: absolute;
    color: white;
    width: 120px;
    height: 25px;
    left: -10px;
    padding-top:4px;
    text-align: center;
    background-color: #494949;
    opacity: 0;
}

.actor_block:hover .actor_name{
    transition-duration: 0.2s;
    opacity: 1;
}
.actor_image:hover{
    transition-duration: 0.3s;
    opacity: 0.6;
}

/*------------------*/


.rating_actor{
    width: 100%;

}
.character_name{
    margin: 32px 0 0 18px;
    color: white;
}
.rating_line{
    display: flex;
    margin: 5px 0 0 14px ;
    width: 320px;
    height: 20px;
    background-color: #494949;
}
.progress_line{
    height: 100%;
    background-color: #585858;
}
.rating_text{
    margin: 2px 0 0 5px;
    color: white;
    font-size: 14px;
}
.progress_line1{
    width: 45%;
}
.progress_line2{
    width: 35%;
}
.progress_line3{
    width: 8%;
}
.progress_line4{
    width: 6%;
}
.progress_line5{
    width: 3%;
}
.progress_line6{
    width: 2%;
}
.progress_line7,.progress_line7{
    width: 1%;
}